@font-face {
  font-family: Heypatrick;
  src: url(./font/font/Heypatrick.ttf);
}
@font-face {
  font-family: CourierNew;
  src: url(./font/font/CourierNew.ttf);
}
@font-face {
  font-family: TwCenMT;
  src: url(./font/font/TwCenMT.TTF);
}